#hh {
    text-align: center;
}

#r1 {
    background-color: violet;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid black;
}

#b1 {
    background-color: blueviolet;
}

label {
    color: black;
}